body {
    background-color: black;
    color: lime;
}

a {
    font-size: 50px;
    color: lime;
    border: 3px;
    border-style:solid;
    border-radius: 5px;
    border-color: cyan;

}

a:hover {
    color: red;
    border-color: red;

}

h1 {
color: aqua;
border: 3px;
border-style:solid;
border-radius: 5px;

}

h1:hover {
    color: lime;
    border: 3px;
    border-style:solid;
    border-radius: 25px;
    
    }

h2 {
    color: blue;
    border: 3px;
    border-style:dashed;
}

h2:hover {
    color: red;
    border: 3px;
    border-style:ridge;
}

h3 {
color:blueviolet ;
border: 3px;
border-style:dotted;
}

h3:hover {
    color:aquamarine;
    border: 3px;
    border-style:outset;
    }

h4 {
color: brown;
border: 3px;
border-style:double;
}

h4:hover {
    color: darkviolet;
    border: 3px;
    border-style:groove;
    }

h5 {
 color: blanchedalmond;
 border: 3px;
    border-style:groove;
}

h5:hover {
    color:cadetblue;
    border: 3px;
       border-style:inherit;
   }

h6 {
color: coral;
border: 3px;
border-style:ridge;
}

h6:hover {
    color:darkcyan;
    border: 3px;
    border-style:hidden;
    }

.words {
    border: 5px;
    border-style:solid;
}

.words:hover {
    border: 5px;
    border-style:solid;
    border-color: brown;
}

.notwords {
    border: 5px;
    border-style:solid;
}

.notwords:hover {
    border: 5px;
    border-style:solid;
    border-color: red;

}


button {
    color: lime;
    background-color: black;
    border: 5px;
    border-color: lime;
    border-style:double;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 100px;
}

button:hover {
    color: rgb(0, 255, 234);
    background-color: rgb(0, 0, 0);
    border: 5px;
    border-color: rgb(255, 0, 179);
    border-style:dotted;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 100px;
}